@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
    --default-font-family: "Bellefair", sans-serif;
    --font-barlow: "Barlow", sans-serif;
    /* --breakpoint-sm: 480px;
    --breakpoint-md: 640px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1536px; */
}