@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import "tailwindcss";

@theme {
    --default-font-family: "Bellefair", sans-serif;
    --breakpoint-sm: 480px;
    --breakpoint-md: 640px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1536px;
}